
//all fonts 

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


$roboto:'Roboto', sans-serif;

$ubuntu :'Ubuntu', sans-serif;

$openCap :'Open Sans', sans-serif;